#clock{
    font-size: 100px;

}
body{
    text-align: center;
    font-weight: bold;
    margin-top: 250px;
}
button{
    padding: 20px;
    background-color: white;
    font-weight: 900;
}